.question {
 margin: 0 0 -10px 0;
}

.input-container {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 82, 0.15) 0 2px 4px;
    overflow: hidden;
}

.input-container input,
.input-container textarea {
    border: none;
    padding: 13px 14px;
    box-sizing: border-box;
    font-size: 15px;
    outline: none;
    flex-grow: 1; 
    font-weight: 200;
    resize: none; 
    min-height: 44px; 
    align-self: center; 
    background-color: #fff;

}

.input-container input::placeholder,
.input-container textarea::placeholder {
    color: #b4b4b4;
    font-weight: 200;
}

.input-container textarea:disabled {
    background-color: #fff;
    cursor: not-allowed; 
}

.button-group {
    display: flex;
}

.btn {
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-left: 1px solid #cacaca;
    transition: transform 0.2s ease;
    padding: 13px 14px;
    color: #000;
}

.btn-ask {
    background-color: rgb(79, 206, 79);
}

.btn-clear-screen {
    background-color: rgb(237, 240, 67);
}

.btn-clear-bd {
    background-color: rgb(223, 69, 69);
}

.btn:hover:not(:disabled) {
    transform: scale(1.05); 
}

.btn-ask:disabled {
    background-color: #a0a0a0; 
    cursor: not-allowed;
    opacity: 0.8;
}

.btn:active {
    transform: scale(0.98); 
    background-color: #cacaca;
}

.question-surprise {
    color: #000;
}

.surprise {
    font-size: 15px;
    font-weight: 700;
    padding: 15px;
    color: #000;
    cursor: pointer;
    text-decoration: underline;
    transition: transform 0.2s ease;
    display: inline-block;
}

.surprise:hover{
    transform: scale(1.05); 
}

.error-input-empty {
    margin-top: 10px;
    font-weight: bold;
    color: #000;
}
.loading-message{
    margin-top: 5px;
    font-size: 12px;
    color: #000;
}

@media (max-width: 768px) {
    .question {
        text-align: center;
    }

    .surprise {
        margin-top: -10px;
    }

    .input-container {
        flex-direction: column;
        border-radius: 6px;
        box-shadow: none;
    }

    .input-container input,
    .input-container textarea,
    .button-group {
        width: 100%;
        margin-bottom: 10px;
    }
    
    .button-group .btn {
        flex: 1; 
        min-width: unset; 
        font-size: 12px;
        padding: 10px 5px; 
    }
}