
.homepage {
    display: flex;
    align-items: center;
    gap: 100px;
    height: 80vh;
}


.homepage .left {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    text-align: center;
}

.homepage .right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.homepage .left h1 {
    font-size: 100px;
    background: linear-gradient(to right, #ff8533, #212a42);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.homepage .left h2 {
    font-size: 19px;
}

.homepage .left p {
    font-size: 14px;
    font-weight: 400;
}

.homepage .left .link-action {
    padding: 15px 25px;
    background-color: #ff8533;
    color: #FFFFFF;
    border-radius: 20px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 15px;
    text-decoration: none;
}

.homepage .left .link-action:hover {
    background-color: hsl(24, 100%, 60%, 90%);
    color: #FFFFFF;
}

.homepage .right .imgContainer {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #1a233d;
    border-radius: 50px;
    width: 80%;
    height: 60%;
}

.homepage .right .imgContainer .bgContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50px;
}

.homepage .right .imgContainer .bg {
    background-image: url("/bg.png");
    opacity: .2;
    width: 200%;
    height: 100%;
    background-size: auto 100%;
    animation: 8s ease-in-out infinite alternate slideBg;
}

.homepage .right .imgContainer .bot {
    width: 100%;
    height: 100%;
    object-fit: contain;
    animation: 3s ease-in-out infinite alternate botAnimate;
}

.homepage .orbital {
    position: absolute;
    left: 0;
    opacity: 0.6;
    animation: 100s linear infinite rotateOrbital;
    width: 500px;
    z-index: -1;
}

.homepage .terms {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.homepage .terms img {
    width: 70px;
}

.homepage .terms p {
    font-size: 14px;
    color: #888;
    text-align: center;
    margin-bottom: 5px;
}

@media screen and (max-width: 1024px) {
    .homepage {
        flex-direction: column;
        gap: 0; 
    }
    .homepage .left h1 {
        font-size: 60px;
        padding-top: 85px;
    }
    .homepage .left h2 {
        font-size: 17px;
    }
    .homepage .left p {
        font-size: 13px;
    }
    .homepage .orbital {
        width: 270px;
    }
}

@keyframes rotateOrbital {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(60deg);
    }
}

@keyframes botAnimate {
    0% {
        transform: scale(1) rotate(0deg);
    }
    100% {
        transform: scale(1.1) rotate(-5deg);
    }
}

@keyframes slideBg {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}