body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #f16d1d;
    color: #212a42;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #FFF;
    padding: 10px 64px;
}
.rootLayout {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
}

.rootLayout header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rootLayout header img {
    width: 150px;
}

.rootLayout .main {
    flex: 1;
}

@media screen and (max-width: 1020px) {
    .rootLayout header {
        padding: 12px 20px;
    }
}