body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 133, 51, .2);
    color: #212a42;
}

.rootLayout {
    padding: 30px 64px;
    height: 100vh;
    display: flex;
    flex-direction: column; 
}

.rootLayout header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rootLayout header img {
    width: 150px;
}

.rootLayout .main {
    flex: 1;
}

@media screen and (max-width: 1020px) {
    .rootLayout {
        padding: 25px;
    }
}